        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
              <img src="../../assets/logo2.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
              <input type="text" id="fUser" class="fadeIn second" name="login" placeholder="login">
              <input type="password" id="fPass" class="fadeIn third" name="login" placeholder="password">
              <input type="submit" onclick="" class="fadeIn fourth" value="Entrar">
            </form>

          </div>
        </div>